@media (min-width: 200px) {
    .nav-mid {
        width: 100%;
        padding: 10px;
    }

    .main-head {
        font-size: medium;
    }

    .input-main {
        width: 100%;
        padding: 5px;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 30px;
    }

    .main-mob {
        width: 100%;
    }

    .image {
        width: 250px;
    }
}

@media (min-width: 280px) {
    .nav-mid {
        width: 100%;
    }

    .main-head {
        font-size: 16px;
    }

    .input-main {
        width: 4rem;
        padding: 5px;

    }

    .right {
        padding: 5px;
        width: fit-content;
    }

    .white {
        font-size: 10px;
    }

    .blue {
        font-size: 10px;
    }

    .button {
        display: block;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 30px;
        gap: 5px;
    }

    .main-mob {
        width: 100%;
    }

    .image {
        width: 100%;
    }
    .main-field {
        width:100%;
        height: auto;
        margin-left: 0PX;
        margin-right: 10PX;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid black;
        font-size: small;
        font-weight: lighter;
        padding: 5px;

    }
    #login-form {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: small;
        font-weight: lighter;
    }
    #email{
        width: auto;
        font-size: small;

    }
    #password{
        width: auto;
        font-size: small;
    }
    .submit{
        font-size: smaller;
    }
    .l-h{
        font-size: large;
        font-weight: bold;
    }
    .im{
        font-size: small;
    }

}

@media (min-width: 400px) {
    .nav-mid {
        width: 100%;
    }

    .main-head {
        font-size: medium;
    }

    .input-main {
        width: auto;
        padding: 10px;

    }

    .right {
        width: auto;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 40px;
    }

    .main-mob {
        width: auto;
    }

    .image {
        width: 260px;
    }
    .main-field {
        width: auto;
        height: auto;
        margin-left: 20PX;
        margin-right: 20PX;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid black;
        font-size: small;
        font-weight: lighter;

    }
    #login-form {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: small;
        font-weight: lighter;
    }
    #email{
        width: auto;
        font-size: small;

    }
    #password{
        width: auto;
        font-size: small;
    }
    .submit{
        font-size: smaller;
    }
    .l-h{
        font-size: large;
        font-weight: bold;
    }
    .im{
        font-size: small;
    }

}

@media (min-width: 640px) {
    .nav-mid {
        width: 100%;
    }

    .main-head {
        font-size: medium;
    }

    .input-main {
        width: auto;
        padding: 10px;

    }

    .right {
        width: auto;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 40px;
    }

    .main-mob {
        width: auto;
    }

    .image {
        width: 265px;
    }
    .main-field {
        height: auto;
        margin-left: 250PX;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid black;
        font-size: small;
        font-weight: lighter;

    }
    #login-form {
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: small;
        font-weight: lighter;
    }
    #email{
        width: auto;
        font-size: small;

    }
    #password{
        width: auto;
        font-size: small;
    }
    .submit{
        font-size: smaller;
    }
    .l-h{
        font-size: large;
        font-weight: bold;
    }
    .im{
        font-size: small;
    }
}

@media (min-width: 768px) {
    .main-head {
        font-size: large;
    }

    .input-main {
        width: 25rem;
        padding: 10px;

    }

    .white {
        font-size: 15px;
    }

    .blue {
        font-size: 15px;
    }

    .right {
        padding: 5px 10px 5px 10px;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 50px;
    }

    .main-mob {
        width: auto;
    }

    .image {
        width: 270px;
    }

    #login-form {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: larger;
        font-weight: bolder;
    }

    .main-field {
        width: auto;
        height: auto;
        margin-right:50px;
        margin-left:50px;
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;

    }
    #email{
        width: auto;
        font-size: large;

    }
    #password{
        width: auto;
        font-size: large;
    }
    .submit{
        font-size: larger;
    }
    .im{
        font-size: larger;
        font-weight: bolder;
    }
}



@media (min-width: 1024px) {
    .main-head {
        font-size: xx-large;
    }

    .input-main {
        width: 30rem;
        padding: 10px;

    }

    .white {
        font-size: 16px;
    }

    .blue {
        font-size: 16px;
    }

    .right {
        padding: 10px;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 50px;
    }

    .main-mob {
        width: auto;
    }

    .image {
        width: 275px;
    }

    .container {
        /* background-image: url('https://wallpapers.com/images/hd/simple-background-yixvlrrhdncvb736.jpg'); */
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        color: #ffffff;
        padding-top: 150px;
    }

    #login-form {
        text-align: center;
        padding-top: 30px;
        /* background-color: #000000; */

    }

    .username {
        display: block;
        line-height: 5;
    }

    .btn {
        display: block;
        line-height: 5;
        text-align: center;
    }

    #email {
        width: 15rem;
        padding: 5px;
        border-radius: 5px;
        /* border: none; */
        font-size: larger;
        color: #000000;

    }

    #password {
        width: 15rem;
        padding: 5px;
        border-radius: 5px;
        /* border: none; */
        font-size: larger;
        color: #000000;

    }

    .log-image {
        width: 150px;

    }

    .main-field {
        width: auto;
        height: auto;
        margin-left: 50px;
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;

    }

    .l-h {
        font-size: xx-large;
        font-weight: bolder;
    }

    .submit {
        color: rgb(0, 0, 0);
        padding: 5px 10px 5px 10px;
        background: rgb(255, 255, 255);
        /* border: none; */
        border-radius: 10PX;
        font-size: larger;
        font-weight: bold;
    }

    .icon {
        word-spacing: 10px;
    }


    label {
        font-size: larger;
        font-weight: bold;
    }
}

@media (min-width: 1230px) {
    .main-head {
        font-size: xx-large;
    }

    .main-mob {
        width: auto;
    }

    .input-main {
        width: 35rem;
        padding: 10px;
    }

    .white {
        font-size: 15px;
    }

    .blue {
        font-size: 15px;
    }

    .right {
        padding: 10px 20px 10px 20px;
    }

    .banner {
        width: 100%;
    }

    .img-1 {
        width: 50px;
    }

    .image {
        width: 280px;
    }

    .container {
        /* background-image: url('https://wallpapers.com/images/hd/simple-background-yixvlrrhdncvb736.jpg'); */
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        color: #ffffff;
        padding-top: 150px;
    }

    #login-form {
        text-align: center;
        padding-top: 30px;
        /* background-color: #000000; */

    }

    .username {
        display: block;
        line-height: 5;
    }

    .btn {
        display: block;
        line-height: 5;
        text-align: center;
    }

    #email {
        width: 15rem;
        padding: 5px;
        border-radius: 5px;
        /* border: none; */
        font-size: larger;
        color: #000000;

    }

    #password {
        width: 15rem;
        padding: 5px;
        border-radius: 5px;
        /* border: none; */
        font-size: larger;
        color: #000000;

    }

    .log-image {
        width: 150px;

    }

    .main-field {
        width: 40%;
        height: auto;
        margin-left: 400px;
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;

    }

    .l-h {
        font-size: xx-large;
        font-weight: bolder;
    }

    .submit {
        color: rgb(0, 0, 0);
        padding: 5px 10px 5px 10px;
        background: rgb(255, 255, 255);
        /* border: none; */
        border-radius: 10PX;
        font-size: larger;
        font-weight: bold;
    }

    .icon {
        word-spacing: 10px;
    }


    label {
        font-size: larger;
        font-weight: bold;
    }
}